<!DOCTYPE html>
<html>
<head>
	<script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link rel="stylesheet" type="text/css" href="./css/loader.css">
	<link rel="stylesheet" type="text/css" href="./css/overlay.css">
	<link rel="stylesheet" type="text/css" href="./css/projects.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:700,900" rel="stylesheet">
	<script src="./js/background.js"></script>
	<script src="./js/index.js"></script>
	<script src="./js/projects.js"></script>
</head>
<body>	
	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class ="loader-section section-left"></div>
		<div class ="loader-section section-right"></div>
	</div>

	<!-- Content -->
	<div id="world">
		<div id="headerBarContainer">
			<div id="headerBarLeft">
				<div class="headerBarLeftText" id="About">ABOUT</div>
				<div class="headerBarLeftText" id="Projects">PROJECTS</div>
				<div class="headerBarLeftText" id="Resume">RESUME</div>				
			</div>
			<div id="headerBarRight">
				<div class="headerBarRightText" id="LinkedIn">LINKEDIN</div>
				<div class="headerBarRightText" id="Github">GITHUB</div>
				<div class="headerBarRightText" id="Email">EMAIL</div>
			</div>
		</div>
		<div id="nameTitle">JACK DING</div>
	</div>

	<!-- Overlay -->
	<div id="overlay"></div>

	<!-- About -->
	<div id="overlayAbout">
		<div id="aboutText">
			<div id="aboutTitle">
				<span style="color: #f25346">I'm Jack,</span> a developer and third-year computer science student.<br>
				<span style="color: #f25346">I'm passionate</span> about software x design. I'm eager to build great things to solve great problems.<br>
				<span style="color: #f25346">I'm always getting better.</span>
			</div>
			<div id="aboutBody">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at purus sollicitudin, interdum augue in, facilisis orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas at neque sit amet magna condimentum lobortis sit amet et quam. <br><br>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at purus sollicitudin, interdum augue in, facilisis orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas at neque sit amet magna condimentum lobortis sit amet et quam.
			</div>
		</div>	
	</div>

	<!-- Projects -->
	<div id="overlayProjects">
		<% include ../partials/projects %>
	</div>	

	<!-- Resume -->
	<div id="overlayResume">
		<div id="resumeText">Resume</div>
	</div>


</body>
</html>