<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
	<script src="./js/index.js"></script>
	<title>Jack Ding</title>
	<link rel="icon" href="./assets/favicon.ico">
</head>
<body>	
	<!-- Loader -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class ="loader-section section-left"></div>
		<div class ="loader-section section-right"></div>
	</div>

	<!-- Content -->
	<div id="world">
		<div id="headerBarContainer">
			<div id="headerBarLeft">
				<div class="headerBarLeftText" id="About">JACK</div>
				<div class="headerBarLeftText" id="Projects">PROJECTS</div>
			</div>
			<div id="headerBarRight">
				<a class="headerBarRightText" id="LinkedIn" href="https://www.linkedin.com/in/jack-ding-63236bb4?trk=hp-identity-name" target="_blank">LINKEDIN</a>
				<a class="headerBarRightText" id="Github" href="https://github.com/heliowitz" target="_blank">GITHUB</a>
				<a class="headerBarRightText" id="Email" href="mailto:jackding.email@gmail.com">EMAIL</a>
				<a class="headerBarRightText" id="Resume" href="assets/resume.pdf" target="_blank">RESUME</a>
			</div>
		</div>
		<div id="nameTitle">Born to Create, Share & Learn</div>
		<div id="codedWith">< > with NodeJS</div>
	</div>

	<!-- Overlay -->
	<div id="overlay"></div>

	<!-- About -->
	<div id="overlayAbout">
		<div id="aboutText">
			<div id="aboutTitle">
				<div class="aboutTitleLine"><span style="color: #f25346">Hi, I'm Jack.</span></div>
				<div class="aboutTitleLine"><span style="color: #f25346">I'm a developer</span> and third-year computer science student.</div>
				<div class="aboutTitleLine"><span style="color: #f25346">I'm passionate</span> about software x design.</div>
				<div class="aboutTitleLine"><span style="color: #f25346">I'm eager</span> to build great things to solve great problems.</div>
			</div>
			<div id="aboutBody">
				I have over five years of experience in programming, and have developed projects in Java, Python, C++, JavaScript, and various web frameworks (Angular, React, etc.)
				<br><br>
				I was a full stack software engineering intern at <a href="http://www.leonardo.com/" id="aboutLink" target="_blank">Leonardo Worldwide Corporation</a>, and worked in an agile team of product managers, engineers, designers and architects to help deliver the company's first app store. I'm now looking for a summer internship in software development. 
				<br><br>
				Aside from programming, I'm also a competitive debater, who represented Western University at the 2016 World Universities Debating Championship (WUDC). I was also Director of Events for Nspire's National Business and Technology Conference (NBTC), Canada's largest student run biztech conference. 
			</div>
		</div>	
	</div>

	<!-- Projects -->
	<div id="overlayProjects">
		<% include ../partials/projects %>
	</div>	

</body>
</html>